<div id="carousel<%= widget.id %>" class="carousel slide elastic-slider" data-ride="carousel">
  <% if widget.panels.present?%>
    <ol class="carousel-indicators">
      <% (0..widget.panels.size-1).each do |index| %>
        <li data-target="#carousel<%= widget.id %>" data-slide-to="<%= index %>" <% if index == 0 %>class="active"<% end %>></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% widget.panels.each do |panel| %>
        <%= render template: 'elastic_slider_panel_widget/show', locals: {widget: panel} %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#carousel<%= widget.id %>" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel<%= widget.id %>" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  <% else %>
    <div class="alert alert-info">
      There are no panels added to this slider. Go to details view to add some.
    </div>
  <% end %>
</div>
